body{
    text-align:left;
    background:ivory;
    font-family: 'Times New Roman', Times, serif;
    align-items:center;
    
}

h3{
    color:rgb(10, 122, 10);
    font-weight:bold;
}

h2{
    color:rgb(10, 122, 10);
    font-weight:bold;
}

h1{
    color:rgb(10, 122, 10);
    font-weight:bold;
}